test-output
test-results
logs
*.log
*.nar

*/bin

# Eclipse
.classpath
.project
.settings/
.recommenders/
.factorypath

# Intellij
.idea/
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Mac
**/.DS_Store
.java-version

# VisualStudioCode artifacts
.vscode/

# Maven
log/
target/

